Created on Sat Oct 15 16:57:34 2016

@author: alsherman

Data Source: https://github.com/fivethirtyeight/data/tree/master/airline-safety

# Setup

Run the following line of code that will assign a string of airlines to the airlines variable.

In [1]:
airlines = """Aer Lingus,Aeroflot*,Aerolineas Argentinas,Aeromexico*,Air Canada,Air France,\
Air India*,Air New Zealand*,Alaska Airlines*,Alitalia,All Nippon Airways,American*,\
Austrian Airlines,Avianca,British Airways*,Cathay Pacific*,China Airlines,Condor,\
COPA,Delta / Northwest*,Egyptair,El Al,Ethiopian Airlines,Finnair,Garuda Indonesia,\
Gulf Air,Hawaiian Airlines,Iberia,Japan Airlines,Kenya Airways,KLM*,Korean Air,LAN Airlines,\
Lufthansa*,Malaysia Airlines,Pakistan International,Philippine Airlines,Qantas*,\
Royal Air Maroc,SAS*,Saudi Arabian,Singapore Airlines,South African,Southwest Airlines,\
Sri Lankan / AirLanka,SWISS*,TACA,TAM,TAP - Air Portugal,Thai Airways,Turkish Airlines,\
United / Continental*,US Airways / America West*,Vietnam Airlines,Virgin Atlantic,\
Xiamen Airlines"""

airlines

'Aer Lingus,Aeroflot*,Aerolineas Argentinas,Aeromexico*,Air Canada,Air France,Air India*,Air New Zealand*,Alaska Airlines*,Alitalia,All Nippon Airways,American*,Austrian Airlines,Avianca,British Airways*,Cathay Pacific*,China Airlines,Condor,COPA,Delta / Northwest*,Egyptair,El Al,Ethiopian Airlines,Finnair,Garuda Indonesia,Gulf Air,Hawaiian Airlines,Iberia,Japan Airlines,Kenya Airways,KLM*,Korean Air,LAN Airlines,Lufthansa*,Malaysia Airlines,Pakistan International,Philippine Airlines,Qantas*,Royal Air Maroc,SAS*,Saudi Arabian,Singapore Airlines,South African,Southwest Airlines,Sri Lankan / AirLanka,SWISS*,TACA,TAM,TAP - Air Portugal,Thai Airways,Turkish Airlines,United / Continental*,US Airways / America West*,Vietnam Airlines,Virgin Atlantic,Xiamen Airlines'

# Question 1: What type is the variable "airlines"?

In [2]:
type(airlines)

str

# Question 2: What operations can we conduct on type airlines?

In [3]:
dir(airlines)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Question 3: How many airlines are there?

In [4]:
#create a counter
counter =2
#loop for , and count 
for character in airlines:
    if character ==',':
        counter +=1
#print the count
print(counter)

57

# Question 4: How many airlines start with the letter 'A' (only capital letters) ?

In [5]:
#split by commas
new_str= airlines.split(',')
#print (new_str)
counter=0
#check for letter A and add to counter if 1st letter is A
for name in new_str:
    if name[0]== 'A':
        counter +=1        
print ("Number of air lines starting with A : "+ str(counter))

Number of air lines starting with A : 14

# Question 5: create a list that only includes airlines that start with the letter "A"

In [6]:
new_str= airlines.split(',')
#print (new_str)
list_with_A=[]
counter=0
for name in new_str:
    if name[0]== 'A':
        counter +=1
        list_with_A.append(name)
print ("Number of air lines starting with A : "+ str(counter)) 
print ("Number of air lines starting with A : "+ str(list_with_A))

Number of air lines starting with A : 14
Number of air lines starting with A : ['Aer Lingus', 'Aeroflot*', 'Aerolineas Argentinas', 'Aeromexico*', 'Air Canada', 'Air France', 'Air India*', 'Air New Zealand*', 'Alaska Airlines*', 'Alitalia', 'All Nippon Airways', 'American*', 'Austrian Airlines', 'Avianca']

# Question 6: Create a list (of the same length) that contains 1 if there's a star and 0 if not.
Expected output: [0, 1, 0, ...]

In [7]:
new_str= airlines.split(',')
#print ("new string is:" + str(new_str))
list_with_star=[]
counter=0
for name in new_str:
    isStar= name.rfind("*")
    if isStar == -1:
        list_with_star.append(0)
       # print("name without star ->" + name )
    else:
        list_with_star.append(1)
    
    
print ("The complete list is ---> "+str(list_with_star))

The complete list is ---> [0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]

# Question 7: Create a list of airline names (include all airlines, but not the asterisk).
Expected output: ['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', ...]

In [8]:
new_str= airlines.split(',')
list_without_star=[]
for name in new_str:
  list_without_star.append(name.replace("*",""))
   
print (list_without_star)

['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', 'Aeromexico', 'Air Canada', 'Air France', 'Air India', 'Air New Zealand', 'Alaska Airlines', 'Alitalia', 'All Nippon Airways', 'American', 'Austrian Airlines', 'Avianca', 'British Airways', 'Cathay Pacific', 'China Airlines', 'Condor', 'COPA', 'Delta / Northwest', 'Egyptair', 'El Al', 'Ethiopian Airlines', 'Finnair', 'Garuda Indonesia', 'Gulf Air', 'Hawaiian Airlines', 'Iberia', 'Japan Airlines', 'Kenya Airways', 'KLM', 'Korean Air', 'LAN Airlines', 'Lufthansa', 'Malaysia Airlines', 'Pakistan International', 'Philippine Airlines', 'Qantas', 'Royal Air Maroc', 'SAS', 'Saudi Arabian', 'Singapore Airlines', 'South African', 'Southwest Airlines', 'Sri Lankan / AirLanka', 'SWISS', 'TACA', 'TAM', 'TAP - Air Portugal', 'Thai Airways', 'Turkish Airlines', 'United / Continental', 'US Airways / America West', 'Vietnam Airlines', 'Virgin Atlantic', 'Xiamen Airlines']

# Question 8: Create a dictionary in which the key is the airline name (without the star) and the value is the average number of incidents.
Expected output: {'Aer Lingus': 0.07, 'Aeroflot': 2.73, ...}

**Note**: number of available seat kilometers (ASKs), which is defined as the number of seats multiplied by the number of kilometers the airline flies

In [9]:
ask = '320906734,1197672318,385803648,596871813,1865253802,3004002661,869253552,\
710174817,965346773,698012498,1841234177,5228357340,358239823,396922563,\
3179760952,2582459303,813216487,417982610,550491507,6525658894,557699891,\
335448023,488560643,506464950,613356665,301379762,493877795,1173203126,\
1574217531,277414794,1874561773,1734522605,1001965891,3426529504,1039171244,\
348563137,413007158,1917428984,295705339,682971852,859673901,2376857805,\
651502442,3276525770,325582976,792601299,259373346,1509195646,619130754,\
1702802250,1946098294,7139291291,2455687887,625084918,1005248585,430462962'

new_str= airlines.split(',')
ask_str=ask.replace('\n', '')
ask_str1=ask_str.split(',')
list_without_star=[]
for name in new_str:
  list_without_star.append(name.replace("*",""))
#print (list_without_star)

dict_airline ={}
for i in range(len(list_without_star)):
    dict_airline[list_without_star[i]]= ask_str1[i]

print (dict_airline)

{'Aer Lingus': '320906734', 'Aeroflot': '1197672318', 'Aerolineas Argentinas': '385803648', 'Aeromexico': '596871813', 'Air Canada': '1865253802', 'Air France': '3004002661', 'Air India': '869253552', 'Air New Zealand': '710174817', 'Alaska Airlines': '965346773', 'Alitalia': '698012498', 'All Nippon Airways': '1841234177', 'American': '5228357340', 'Austrian Airlines': '358239823', 'Avianca': '396922563', 'British Airways': '3179760952', 'Cathay Pacific': '2582459303', 'China Airlines': '813216487', 'Condor': '417982610', 'COPA': '550491507', 'Delta / Northwest': '6525658894', 'Egyptair': '557699891', 'El Al': '335448023', 'Ethiopian Airlines': '488560643', 'Finnair': '506464950', 'Garuda Indonesia': '613356665', 'Gulf Air': '301379762', 'Hawaiian Airlines': '493877795', 'Iberia': '1173203126', 'Japan Airlines': '1574217531', 'Kenya Airways': '277414794', 'KLM': '1874561773', 'Korean Air': '1734522605', 'LAN Airlines': '1001965891', 'Lufthansa': '3426529504', 'Malaysia Airlines': '1039171244', 'Pakistan International': '348563137', 'Philippine Airlines': '413007158', 'Qantas': '1917428984', 'Royal Air Maroc': '295705339', 'SAS': '682971852', 'Saudi Arabian': '859673901', 'Singapore Airlines': '2376857805', 'South African': '651502442', 'Southwest Airlines': '3276525770', 'Sri Lankan / AirLanka': '325582976', 'SWISS': '792601299', 'TACA': '259373346', 'TAM': '1509195646', 'TAP - Air Portugal': '619130754', 'Thai Airways': '1702802250', 'Turkish Airlines': '1946098294', 'United / Continental': '7139291291', 'US Airways / America West': '2455687887', 'Vietnam Airlines': '625084918', 'Virgin Atlantic': '1005248585', 'Xiamen Airlines': '430462962'}