Created on Sat Oct 15 16:57:34 2016

@author: alsherman

Data Source: https://github.com/fivethirtyeight/data/tree/master/airline-safety

# Setup

Run the following line of code that will assign a string of airlines to the airlines variable.

In [1]:
airlines = """Aer Lingus,Aeroflot*,Aerolineas Argentinas,Aeromexico*,Air Canada,Air France,
Air India*,Air New Zealand*,Alaska Airlines*,Alitalia,All Nippon Airways,American*,
Austrian Airlines,Avianca,British Airways*,Cathay Pacific*,China Airlines,Condor,
COPA,Delta / Northwest*,Egyptair,El Al,Ethiopian Airlines,Finnair,Garuda Indonesia,
Gulf Air,Hawaiian Airlines,Iberia,Japan Airlines,Kenya Airways,KLM*,Korean Air,LAN Airlines,
Lufthansa*,Malaysia Airlines,Pakistan International,Philippine Airlines,Qantas*,
Royal Air Maroc,SAS*,Saudi Arabian,Singapore Airlines,South African,Southwest Airlines,
Sri Lankan / AirLanka,SWISS*,TACA,TAM,TAP - Air Portugal,Thai Airways,Turkish Airlines,
United / Continental*,US Airways / America West*,Vietnam Airlines,Virgin Atlantic,
Xiamen Airlines"""

airlines

'Aer Lingus,Aeroflot*,Aerolineas Argentinas,Aeromexico*,Air Canada,Air France,\nAir India*,Air New Zealand*,Alaska Airlines*,Alitalia,All Nippon Airways,American*,\nAustrian Airlines,Avianca,British Airways*,Cathay Pacific*,China Airlines,Condor,\nCOPA,Delta / Northwest*,Egyptair,El Al,Ethiopian Airlines,Finnair,Garuda Indonesia,\nGulf Air,Hawaiian Airlines,Iberia,Japan Airlines,Kenya Airways,KLM*,Korean Air,LAN Airlines,\nLufthansa*,Malaysia Airlines,Pakistan International,Philippine Airlines,Qantas*,\nRoyal Air Maroc,SAS*,Saudi Arabian,Singapore Airlines,South African,Southwest Airlines,\nSri Lankan / AirLanka,SWISS*,TACA,TAM,TAP - Air Portugal,Thai Airways,Turkish Airlines,\nUnited / Continental*,US Airways / America West*,Vietnam Airlines,Virgin Atlantic,\nXiamen Airlines'

# Question 1: What type is the variable "airlines"?

In [2]:
type(airlines)

str

# Question 2: What operations can we conduct on type airlines?

In [3]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'airlines',
 'exit',
 'get_ipython',
 'quit']

# Question 3: How many airlines are there?

In [4]:
#create a counter
counter =1
#loop for , and count 
for character in airlines:
    if character ==',':
        counter +=1
#print the count
print(counter)

56

# Question 4: How many airlines start with the letter 'A' (only capital letters) ?

In [23]:
#split by commas
new_str= airlines.split(',')
#print (new_str)
counter=0
#check for letter A and add to counter if 1st letter is A
for name in new_str:
    name.replace("\n","")
    if name[0]== 'A':
        counter +=1        
print ("Number of air lines starting with A : "+ str(counter))

Number of air lines starting with A : 12

# Question 5: create a list that only includes airlines that start with the letter "A"

In [6]:
new_str= airlines.split(',')
#print (new_str)
list_with_A=[]
counter=0
for name in new_str:
    if name[0]== 'A':
        counter +=1
        list_with_A.append(name)
print ("Number of air lines starting with A : "+ str(counter)) 
print ("Number of air lines starting with A : "+ str(list_with_A))

Number of air lines starting with A : 12
Number of air lines starting with A : ['Aer Lingus', 'Aeroflot*', 'Aerolineas Argentinas', 'Aeromexico*', 'Air Canada', 'Air France', 'Air New Zealand*', 'Alaska Airlines*', 'Alitalia', 'All Nippon Airways', 'American*', 'Avianca']

# Question 6: Create a list (of the same length) that contains 1 if there's a star and 0 if not.
Expected output: [0, 1, 0, ...]

In [7]:
new_str= airlines.split(',')
#print ("new string is:" + str(new_str))
list_with_star=[]
counter=0
for name in new_str:
    isStar= name.rfind("*")
    if isStar == -1:
        list_with_star.append(0)
       # print("name without star ->" + name )
    else:
        list_with_star.append(1)
    
    
print ("The complete list is ---> "+str(list_with_star))

The complete list is ---> [0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]

# Question 7: Create a list of airline names (include all airlines, but not the asterisk).
Expected output: ['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', ...]

In [8]:
new_str= airlines.split(',')
list_without_star=[]
for name in new_str:
  list_without_star.append(name.replace("*",""))
   
print (list_without_star)

['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', 'Aeromexico', 'Air Canada', 'Air France', '\nAir India', 'Air New Zealand', 'Alaska Airlines', 'Alitalia', 'All Nippon Airways', 'American', '\nAustrian Airlines', 'Avianca', 'British Airways', 'Cathay Pacific', 'China Airlines', 'Condor', '\nCOPA', 'Delta / Northwest', 'Egyptair', 'El Al', 'Ethiopian Airlines', 'Finnair', 'Garuda Indonesia', '\nGulf Air', 'Hawaiian Airlines', 'Iberia', 'Japan Airlines', 'Kenya Airways', 'KLM', 'Korean Air', 'LAN Airlines', '\nLufthansa', 'Malaysia Airlines', 'Pakistan International', 'Philippine Airlines', 'Qantas', '\nRoyal Air Maroc', 'SAS', 'Saudi Arabian', 'Singapore Airlines', 'South African', 'Southwest Airlines', '\nSri Lankan / AirLanka', 'SWISS', 'TACA', 'TAM', 'TAP - Air Portugal', 'Thai Airways', 'Turkish Airlines', '\nUnited / Continental', 'US Airways / America West', 'Vietnam Airlines', 'Virgin Atlantic', '\nXiamen Airlines']

# Question 8: Create a dictionary in which the key is the airline name (without the star) and the value is the average number of incidents.
Expected output: {'Aer Lingus': 0.07, 'Aeroflot': 2.73, ...}

**Note**: number of available seat kilometers (ASKs), which is defined as the number of seats multiplied by the number of kilometers the airline flies

In [12]:
ask = '320906734,1197672318,385803648,596871813,1865253802,3004002661,869253552,\
710174817,965346773,698012498,1841234177,5228357340,358239823,396922563,\
3179760952,2582459303,813216487,417982610,550491507,6525658894,557699891,\
335448023,488560643,506464950,613356665,301379762,493877795,1173203126,\
1574217531,277414794,1874561773,1734522605,1001965891,3426529504,1039171244,\
348563137,413007158,1917428984,295705339,682971852,859673901,2376857805,\
651502442,3276525770,325582976,792601299,259373346,1509195646,619130754,\
1702802250,1946098294,7139291291,2455687887,625084918,1005248585,430462962'

new_str= airlines.split(',')
list_without_star=[]
for name in new_str:
  list_without_star.append(name.replace("*",""))
  list_without_star.append(name.replace("\n",""))

   
print (list_without_star)

['Aer Lingus', 'Aer Lingus', 'Aeroflot', 'Aeroflot*', 'Aerolineas Argentinas', 'Aerolineas Argentinas', 'Aeromexico', 'Aeromexico*', 'Air Canada', 'Air Canada', 'Air France', 'Air France', '\nAir India', 'Air India*', 'Air New Zealand', 'Air New Zealand*', 'Alaska Airlines', 'Alaska Airlines*', 'Alitalia', 'Alitalia', 'All Nippon Airways', 'All Nippon Airways', 'American', 'American*', '\nAustrian Airlines', 'Austrian Airlines', 'Avianca', 'Avianca', 'British Airways', 'British Airways*', 'Cathay Pacific', 'Cathay Pacific*', 'China Airlines', 'China Airlines', 'Condor', 'Condor', '\nCOPA', 'COPA', 'Delta / Northwest', 'Delta / Northwest*', 'Egyptair', 'Egyptair', 'El Al', 'El Al', 'Ethiopian Airlines', 'Ethiopian Airlines', 'Finnair', 'Finnair', 'Garuda Indonesia', 'Garuda Indonesia', '\nGulf Air', 'Gulf Air', 'Hawaiian Airlines', 'Hawaiian Airlines', 'Iberia', 'Iberia', 'Japan Airlines', 'Japan Airlines', 'Kenya Airways', 'Kenya Airways', 'KLM', 'KLM*', 'Korean Air', 'Korean Air', 'LAN Airlines', 'LAN Airlines', '\nLufthansa', 'Lufthansa*', 'Malaysia Airlines', 'Malaysia Airlines', 'Pakistan International', 'Pakistan International', 'Philippine Airlines', 'Philippine Airlines', 'Qantas', 'Qantas*', '\nRoyal Air Maroc', 'Royal Air Maroc', 'SAS', 'SAS*', 'Saudi Arabian', 'Saudi Arabian', 'Singapore Airlines', 'Singapore Airlines', 'South African', 'South African', 'Southwest Airlines', 'Southwest Airlines', '\nSri Lankan / AirLanka', 'Sri Lankan / AirLanka', 'SWISS', 'SWISS*', 'TACA', 'TACA', 'TAM', 'TAM', 'TAP - Air Portugal', 'TAP - Air Portugal', 'Thai Airways', 'Thai Airways', 'Turkish Airlines', 'Turkish Airlines', '\nUnited / Continental', 'United / Continental*', 'US Airways / America West', 'US Airways / America West*', 'Vietnam Airlines', 'Vietnam Airlines', 'Virgin Atlantic', 'Virgin Atlantic', '\nXiamen Airlines', 'Xiamen Airlines']